</br>
</br>
</br>
<form method="POST" action="/form">
  <p>Name: <input type="text" name="name"></p>
  <p>Description: <input type="text" name="description"></p>
  <p>Duration: <input type="text" name="duration"></p>
  <p>Difficulty: <input type="text" name="difficulty"></p>
  <input type="submit">
</form>
